h1, h2, body {
  padding: 0;
  margin: 0;
  border: 0;
}

#mapbox {
  height: 500px;
  width: 1000px;
  display:flex;
  align-content: right; 
  
}

body {
  background-color: #ff7a0d;
  background-image: url(../../src/buildings-city-city-view-597909.jpg);
  background-attachment: fixed;
  background-size: cover;

  margin: 0 auto;
  color: white;
  
}

h1 {
  font-family: 'BioRhyme', serif;
  text-align: left;
  font-size: 20px;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size:16px;
  text-align: left;

}

.title-heading{
  font-size: 60px;
}

.mapboxgl-popup-content{
  color:black;
}